.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui-select {
  padding: 5px;
  border-radius: 5px;
  width: 30em;
  height: 3em;
}

.ui-list {
  list-style-type: none;
}

.ui-list li {
  text-align: left;
  padding: 1em;
}

.ui-screen-nav-buttons {
  padding: 5px;
  width: 7em;
  height: 50px;
  border-radius: 3px;
  color: azure;
  background-color: cornflowerblue;
  border: none;
  cursor: pointer;
}

.ui-nav-next {
  float: right;
}

.ui-nav-prev {
  float: left;
}

.ui-screen-navigation {
  padding: 5px;
  width: 50%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.reference-headers span {
  padding: 5px;
  border-radius: 20px;
  background-color: darkcyan;
  color: aliceblue;
}

.reference-headers {
  margin-top: 5px;
  display: inline-flex;
}

.reference-headers button {
  background-color: darkslategrey;
  color: aliceblue;
  border: 0px;
  padding: 5px;
  border-radius: 15px;
}

.reference-headers button:hover {
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 20px;
  border: 0px;
}

#Mapping, #Sequence {
  padding: 5px;
  width: 90%;
}

.remove-btn {
  border: 0px;
  border-radius: 10px;
  color: aliceblue;
  background-color: darkslateblue;
  padding: 5px;
  cursor: pointer;
}

.action-btn {
  border: 0px;
  border-radius: 10px;
  color: aliceblue;
  background-color: deeppink;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: firebrick 2px 3px 2px;
}

.action-btn:hover {
  background-color: firebrick;
}

.preview {
  border: 0px;
  border-radius: 20px;
  padding: 5px;
  width: 90%
}

.operation {
  background-color: fuchsia;
}

.outputformat {
  background-color: indianred;
}

.mapping {
  background-color: #737504;
  color: aliceblue;
}

.sequence {
  background-color: coral;
}

.notification-container {
  background-color: #fff;
  padding: 5px;
  max-height: 150px;
  min-width: 500px;
  overflow-y: scroll;
  border-radius: 10px;
}

.notification-item {
  list-style-type: none;
  padding: 5px;
  margin-top: 5px;
  background-color: darkgoldenrod;
  border-radius: 10px;
  box-sizing: content-box;
}

.notification-item .dismiss-btn {
  border: 0;
  border-radius: 10px;
  background-color: firebrick;
  color: aliceblue;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.notification-item .download-btn {
  border: 0;
  border-radius: 10px;
  background-color:darkslategray;
  color: aliceblue;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.dismiss-btn:hover {
  background-color: red;
}

.download-btn:hover {
  background-color: green;
}

@media only screen and (max-width: 600px) {
  .notification-container {
    width: 200px;
  }
}

